{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	{{ entry.title }}
{% endblock title %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "pygments.css" %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static "entry_detail.css" %}" media="all" />
{% endblock css %}

{% block content %}
	<h1 id="heading">{{ entry.title }}</h1>
	<div id="tags">
		{#TODO: Prefetch is needed, will add later#}
		{% if entry.tags %}
			<p>[{% spaceless %}
			{# Adding a comma for all, but the last one#}
			{% for tag in entry.tags.all %}
				{{ tag.name }}{% if not forloop.last %},{% endif %}
			{% endfor %}
			{% endspaceless %}]</p>
		{% endif %}
	</div>
	<div id="author">
		{{ entry.author|safe }}
	</div>
	<div id="entryhtml">
		{{ entry.body_html|safe }}
	</div>
{% endblock content %}

{% block
