{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "entries_index.css" %}" media="all" />
{% endblock css %}

{% block content %}
	<h1 id="heading">@flare.dnsalias.net</h1>
	{% for entry in entry_list %}
		<h2 id="title">{{ entry.title }}
			<a href="{{ entry.get_absolute_url }}">[read]</a></h2>
		<div id="category">
			[{{ entry.categories|safe }}]
		</div>
		<div id="published">
			Published on {{ entry.pub_date|date:"F j, Y" }}
		</div>
		<div id="excerpt">
			{% if entry.excerpt_html %}
				{{ entry.excerpt_html|safe }}
			{% else %}
				{{ entry.body_html|truncatewords_html:"50"|safe }}
			{% endif %}
			<a href="{{ entry.get_absolute_url }}">Read full entry</a>
		</div>
	{% endfor %}
{% endblock content %}
