<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}
<meta http-equiv="Content-type" content="text/html; charset=iso-8859-2" />
<meta http-equiv="Content-Language" content="hu-hu" />
<title>{{ entry.title }}</title>
<!-- <link rel="stylesheet" type="text/css" href="{% static "reset.css" %}" media="all" /> -->
<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static "entry_detail.css" %}" media="all" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="keywords" content="Túrázás, Arch Linux, IT notes" />
<meta name="description" content="A blog about Linux, IT, and hiking. Egy blog
Linuxról, IT-ről és túrázásról." />
<link rel="SHORTCUT ICON" href="favicon.ico" />
<body>
<div id=content>
	<h1 id="heading">{{ entry.title }}</h1>
	<div id="tags">
		{% if entry.tags %}
			<p>
			{{ entry.tags.all }}	
			</p>
		{% endif %}
	</div>
	<div id="author">
		{{ entry.author|safe }}
	</div>
	<div id="entryhtml">
		{{ entry.body_html|safe }}
	</div>
</div>
</body>
</html>
