/*#title a {
	font-weight:		bold;
	text-decoration:	none;
} */
#title a {
	font-size:	0.8em;
}

#published {
	margin:		0.1em;
	padding:	0;
	font-style:	italic;
	font-size:	0.9em;
}

#category {
	float:		right;
}

#excerpt p {
	margin:		0 0 0 0.1em;
	padding:	0 0 0 0.5em;
	border-left-style:	solid;
}

#excerpt a {
	float:		right;
}
